.all{
    color: #1DBAB0 !important;
}
.green{
    color: green !important;
}
.red{
    color: rgb(216, 1, 1)!important;
}
.yellow{
    color: rgb(195, 195, 6)!important;
}
.tl{
    color: #D4A316!important;
}
.purple{
    color:rgb(189, 45, 189)!important;
}
.purple-light{
    color: rgb(221, 119, 221)!important;
}
.orange{
    color: rgb(236, 100, 76)!important;
}
.blue{
    color: blue!important;
}
.light-blue{
    color: #589EBE !important;
}
